  <main class="landing forms">
   <div class="container register">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.text_field :username, autofocus: true, autocomplete: "name", placeholder: 'username', class: "form-control  register__input" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email', class: "form-control  register__input" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: "form-control  register__input" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm password',class: "form-control  register__input"  %>
      </div>

      <div class="actions text-center">
        <%= f.submit "Sign up", class: "btn btn-default my-2" %>
      </div>

    <% end %>
    
    </div>
      <div class="new_user__img-container">
        <%= image_tag('sign_up_page.svg', :class => "new_user__img-signup", alt: "SVG image") %>
      </div>

    </main>